@import "_mixins.scss";

@include font(
	Roboto, 
	url(../fonts/Roboto-Regular.ttf), 
	url(../fonts/Roboto-Regular.woff), 
	url(../fonts/Roboto-Regular.woff2), 
	normal,
	400
	);

@include font(
	Roboto, 
	url(../fonts/Roboto-Bold.ttf), 
	url(../fonts/Roboto-Bold.woff), 
	url(../fonts/Roboto-Bold.woff2), 
	bold,
	bold
	);
@include font(
	Roboto, 
	url(../fonts/Roboto-Medium.ttf), 
	url(../fonts/Roboto-Medium.woff), 
	url(../fonts/Roboto-Medium.woff2), 
	normal,
	500
	);


.features {
	&__wrap-item{
		background: #F2F2F2;
		display: flex;
		padding: 2em 3em;
	}
	/* .features__item */
	&__item {
		padding: 0 1em;
		h3{
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 64px;
			line-height: 75px;
		@media only screen and (max-width:1600px) {
				font-size: 54px !important;
			}
		}
		p{
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			@media only screen and (max-width:1600px) {
				font-size: 14px !important;
			}
		}
		strong{
			font-family: Roboto;
			font-style: normal;
			font-weight:bold;
			font-size: 28px;
			line-height: 33px;
			@media only screen and (max-width:1600px) {
				font-size: 20px !important;
			}
		}
	}
}


