@import "_mixins.scss";

@include font(
	Roboto, 
	url(../fonts/Roboto-Regular.ttf), 
	url(../fonts/Roboto-Regular.woff), 
	url(../fonts/Roboto-Regular.woff2), 
	normal,
	400
	);

@include font(
	Roboto, 
	url(../fonts/Roboto-Bold.ttf), 
	url(../fonts/Roboto-Bold.woff), 
	url(../fonts/Roboto-Bold.woff2), 
	bold,
	bold
	);
@include font(
	Roboto, 
	url(../fonts/Roboto-Medium.ttf), 
	url(../fonts/Roboto-Medium.woff), 
	url(../fonts/Roboto-Medium.woff2), 
	normal,
	500
	);

label{
 display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}

label span{
  background: #fff;
  border-radius:10px;
  height:6px;
  margin: 6px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1){
  width:51%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:71%;
 
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(6px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(28px,-7px) rotatez(45deg);

}