@import "_mixins.scss";

@include font(
	Roboto, 
	url(../fonts/Roboto-Regular.ttf), 
	url(../fonts/Roboto-Regular.woff), 
	url(../fonts/Roboto-Regular.woff2), 
	normal,
	400
	);

@include font(
	Roboto, 
	url(../fonts/Roboto-Bold.ttf), 
	url(../fonts/Roboto-Bold.woff), 
	url(../fonts/Roboto-Bold.woff2), 
	bold,
	bold
	);
@include font(
	Roboto, 
	url(../fonts/Roboto-Medium.ttf), 
	url(../fonts/Roboto-Medium.woff), 
	url(../fonts/Roboto-Medium.woff2), 
	normal,
	500
	);
@include font(
	Poppins,
	url(../fonts/Poppins-Regular.ttf),
	url(../fonts/Poppins-Regular.woff),
	url(../fonts/Poppins-Regular.woff2),
	normal,
	400
	);

@include font(
	Poppins,
	url(../fonts/Poppins-Bold.ttf),
	url(../fonts/Poppins-Bold.woff),
	url(../fonts/Poppins-Bold.woff2),
	normal,
	700
	);

@include font(
	Poppins,
	url(../fonts/Poppins-Medium.ttf),
	url(../fonts/Poppins-Medium.woff),
	url(../fonts/Poppins-Medium.woff2),
	normal,
	500
	);



.features {
	&__wrap-item{
		background: #F2F2F2;
		display: flex;
		padding: 2em 3em;
	}
	/* .features__item */
	&__item {
		padding: 0 1em;
		h3{
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 64px;
			line-height: 75px;
		@media only screen and (max-width:1600px) {
				font-size: 54px !important;
			}
		}
		p{
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;
			@media only screen and (max-width:1600px) {
				font-size: 14px !important;
			}
		}
		strong{
			font-family: Roboto;
			font-style: normal;
			font-weight:bold;
			font-size: 28px;
			line-height: 33px;
			@media only screen and (max-width:1600px) {
				font-size: 20px !important;
			}
		}
	}
}




label{
 display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}

label span{
  background: #fff;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


span:nth-of-type(1){
  width:50%;
  
}

span:nth-of-type(2){
  width:100%;
}


span:nth-of-type(3){
  width:75%;
 
}


input[type="checkbox"]{
  display:none;
}


input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}


input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);

}

.op{
background: rgba(19, 19, 19, 0.9) !important;
}

.call{
	margin-right: 38px;
}

.burger{
	margin-left: 38px;
}

.collapse-wrap{
	position: absolute;
	left: 0;
	right: 0;
}
.collapse{
	position: relative;
	right: 0;
	left: 0;
	&__link{
		padding: 15px 80px;
		text-decoration: none;
		font-size: 48px;
		color: #828282;
		max-width: 737px;
	}

	&__link_active{
		border: 1px solid #F2F2F2;
		color: #F2F2F2;
	}

	&__link:hover{
		color: #F2F2F2;
	}
}

.wrap-collapse{
	display: flex;
	flex-direction:column;
	text-align: center;
	align-items: center;
	margin-top: 96px;

}

.wrap-sprite{
	margin-top: 50px;
	padding-bottom: 48px;
	align-items:center;

	&__img{
		margin-right: 40px;
		margin-left: 40px;
	}
}

.main-bg {
	/* .main-bg_atachment */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 990px;
	z-index: -1;
	&_atachment {
		background: url('../img/bg1.png') no-repeat;
	}
}

.remont {
	/* .remont__btn */
	&__btn {
		margin-top: 83%;
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 24px;
		line-height: 28px;
		text-decoration: none;
		color: white;
		padding: 15px 0;
		display:flex;
		width: 100%;
		background: rgba(17, 17, 17, 0.6);
		border: 1px solid #C4C4C4;
		transition: background .5s ease-out;
		span{
			text-align: center;
			margin: 0 auto;
		}
	}
	&__btn:hover{
		color: white;
		background: rgba(0, 0, 0, 1);
	}

	/* .remont__subtitle */
	&__subtitle {
		margin-top: 55%;
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 80px;
		line-height: 94px;
		color: #F2F2F2;
	}

}


.arrow{
	margin-top: 100px;
	text-align: center;
}


